#about {
  // section a
  &__a {
    .about-content {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 1rem;

      div {
        border: 0.5px solid $light-color;
        border-radius: 3px;
        padding: 0.5rem;
      }
    }
  }
    // section b
    &__b {
       color: #fff;
       
       .progress {
        background-color: $medium-color;
        height: 20px;
        border-radius: 5px;
        margin-bottom: .8rem;

        div {
            height: 100%;
            text-align: center;
            background-color: $primary-color;
            border-radius: 5px;
        }
       }
    }

    // section c

    &__c {
        .about-logos {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2rem;
            align-items: center;

            img {
                width: 70%;
            }
        }
    }

    &__d {
        .references {
            ul {
                list-style: none;
                margin-top: 1rem;
                display: flex;
                align-items: center;
            }

            p {
                border: 1px solid $medium-color;
                border-radius: 5px;
                padding: .5rem;
            }

            img {
                width: 50px;
                border-radius: 50%;
                padding-right: .5rem;
            }
        }
    }

}
